STARPETS_API_KEY=68f7f0c81f1588969d75d1c8
STARPETS_SECRET=Ouq06E7+V(vi:TLs5$RE~>
STARPETS_BASE_URL=https://market.neuralgeneration.com/api

GGSEL_API_KEY=760f28c1e24150000a198f40ceee5b295f8e42bcf579db05729706b4746d97ca

WEBHOOK_SHARED_SECRET=mysecret123

DATABASE_URL=postgresql://...

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID_CRITICAL=
TELEGRAM_CHAT_ID_WARN=

MARKUP=1.20
MIN_PRICE_RUB=100.0